/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

/* HEADER */

header {
    height: 80px;
    background-color: orange;

}

/* MAIN */

main.flex {
    gap: 10px;
} 

nav.menu {
    padding: 10px;
    width: 25%;
    /* debug */
    background-color: aqua;
}

.main-section {
    width: 50%;
    /* debug */
    background-color: lightcoral;
}

aside {
    width: 25%;
    /* debug */
    background-color: lightgreen;
}

/* Navigation bar */



nav.menu li {
    padding: 10px;
    margin-top: 10px;
    color: white;
    /* debug */
    background-color: red;
}

/* FOOTER */

footer {

    /* debug */
    background-color: lightsalmon;
    height: 100px;
}

/* UTILITIES */

.flex {
    display: flex;
}