/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



a {
    color: inherit;
}

/* HEADER */

header {
    height: 80px;
    background-color: orange;

}

/* MAIN */

main.flex {
    gap: 10px;
    align-items: flex-start;
} 

nav.menu {
    min-height: 300px;
    padding: 10px;
    width: 25%;
    /* debug */
    background-color: aqua;
}

.main-section {
    padding: 10px;
    width: 50%;
    /* debug */
    background-color: lightcoral;
}

aside {
    min-height: 300px;
    text-align: center;
    padding: 10px 0;
    width: 25%;
    /* debug */
    background-color: lightgreen;
}

/* Navigation bar */

nav.menu li {
    padding: 10px;
    margin-top: 10px;
    color: white;
    /* debug */
    background-color: red;
}

/* Main section */

.wrapper {
    padding: 10px;
    border: 1px white dashed;
}

.wrapper article {
    padding: 10px;
    margin-top: 10px;
    background-color: lightgrey;
}

/* Banner */



/* FOOTER */

footer {

    /* debug */
    background-color: lightsalmon;
    height: 100px;
}

/* UTILITIES */

.flex {
    display: flex;
}